#container {
  border: 1px solid lightgrey;
  text-align: center;
  position: absolute;
  margin: 0 0 20px 0;
  max-height: 100px;
  max-width: 83vw;
}

.info {
  font-size: 30px;
  /* border: 1px solid lightgrey; */
  padding: 40px 0 40px 0;
}
